ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 575px){
    .square {
        width: 15px;
        height: 15px;  
    }   
    .size {
        display: none;
    }
}

.container {
    margin-top: 24px;
    border: 1px solid gray;
    display: flex;
    align-items: center;    
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #F8EFE0;
}

.header {
    background-color: #F8EFE0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.hImg {
    max-width: 100px;
    max-height: 100px;
}

.size {
    padding-right: 48px;
}

.mode {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    flex-direction: column;
}

.modeList {
    font-size: 20px;
}

.randomOne, .randomTwo, .randomThree, .randomFour, .randomFive, .randomSix {
    display: inline;
}
.randomOne {
    color: red;
}
.randomTwo {
    color: blue;
}
.randomThree {
    color: green;
}
.randomFour {
    color: purple;
}
.randomFive {
    color: orange;
}
.randomSix {
    color: olive;
}